<!--
============================================
; Title:  not-found.component.html
; Author: Professor Krasso
; Modified by: Kevin Jones
; Date: 18 Aug 2021
; Description: Not found component HTML file
;===========================================
 -->

 <div fxLayout="column">
  <mat-card-content style="text-align: center">
    <h1 style="padding-top: 5em">
      Whoops! Looks like this page doesn't exist!
    </h1>

    <h1 class="error">404</h1>

    <button mat-raised-button color="accent" routerLink="/">Go back</button>
  </mat-card-content>
</div>
