/*
============================================
; Title:  sign-in.component.css
; Author: Professor Krasso
; Modified by: Kevin Jones
; Date: 6 July 2021
; Description: Sign-in component CSS file
;===========================================
*/

.signIn-container {
  width: 35%;
  margin: 15% auto;
}

.signIn-container > mat-card-title,
mat-card-subtitle {
  text-align: center;
}

.msg-error {
  margin: 10px 0px;
  padding: 12px;
  color: #d8000c;
  background-color: #ffd2d2;
}

@media only screen and (min-width: 275px) and (max-width: 743px) {
  .signIn-container {
    width: 83%;
  }
}
