<!--
============================================
; Title:  contact.component.html
; Author: Kevin Jones
; Date: 27 Aug 2021
; Description: Contact component HTML file
;===========================================
 -->

<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="50%">
    <mat-card-content style="font-size: 2em">
      <p><mat-icon class="contact-icons">location_pin</mat-icon></p>
      <p>102 N Main St.</p>
      <p>Baltimore, MD</p>
    </mat-card-content>
  </div>
  <div fxFlex="50%">
    <mat-card-content style="font-size: 2em">
      <p><mat-icon class="contact-icons">phone_enabled</mat-icon></p>
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-800-555-5555</p>
    </mat-card-content>
  </div>
</div>
