/*
============================================
; Title:  contact.component.css
; Author: Kevin Jones
; Date: 27 Aug 2021
; Description: Contact component CSS file
;===========================================
*/

.contact-icons {
  font-size: 5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mat-card-title {
  text-align: center;
}

.mat-card-content {
  text-align: center;
}
