<!--
============================================
; Title:  about.component.html
; Author: Kevin Jones
; Date: 21 July 2021
; Description: About component HTML file
;===========================================
 -->

<main class="flex-grow mb-20">
  <div class="container mx-auto px-6 pt-10">
    <div class="sm:flex sm:mt-8">
      <div
        class="
          mt-8
          sm:mt-0 sm:w-full sm:px-8
          flex flex-col
          md:flex-row
          justify-around
        "
      >
        <div class="flex flex-col">
          <h2 style="font-size: 2em">Who We Are</h2>
          <span class="mb-2"
            ><p style="font-size: 1.5em">
              The nodebucket team consists of passionate entrepreneurs,
              designers, and developers with a combined 57 years of experience
              in their respective fields. Nodebucket LLC is focused on
              developing and delivering software solutions to individuals,
              businesses, and generally any organization with a business need.
              Our mission is to build solutions that we ourselves would love to
              use every day. This is what drives our process and ensures that
              everything that we do is high-quality. Our team works tirelessly
              in order to ensure that our customers are completely satisfied
              every time they use any of our products.
            </p></span
          >
        </div>
      </div>
    </div>
    <div class="sm:flex sm:mt-8">
      <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row">
        <div class="flex flex-col">
          <h2 style="font-size: 2em">The Team</h2>
          <div class="row">
            <div class="column">
              <figure>
                <img
                  src="../../../assets/pic.jpg"
                  alt="Kevin Jones"
                  style="width: 100%"
                />
                <figcaption style="text-align: center">Kevin Jones</figcaption>
                <figcaption style="text-align: center">
                  <strong>CEO</strong>
                </figcaption>
              </figure>
            </div>
            <div class="column">
              <figure>
                <img
                  src="../../../assets/pic.jpg"
                  alt="Kevin Jones"
                  style="width: 100%"
                />
                <figcaption style="text-align: center">Kevin Jones</figcaption>
                <figcaption style="text-align: center">
                  <strong>CTO</strong>
                </figcaption>
              </figure>
            </div>
            <div class="column">
              <figure>
                <img
                  src="../../../assets/pic.jpg"
                  alt="Kevin Jones"
                  style="width: 100%"
                />
                <figcaption style="text-align: center">Kevin Jones</figcaption>
                <figcaption style="text-align: center">
                  <strong>Designer</strong>
                </figcaption>
              </figure>
            </div>
            <div class="column">
              <figure>
                <img
                  src="../../../assets/pic.jpg"
                  alt="Kevin Jones"
                  style="width: 100%"
                />
                <figcaption style="text-align: center">Kevin Jones</figcaption>
                <figcaption style="text-align: center">
                  <strong>Developer</strong>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
