<!--
============================================
; Title:  home.component.html
; Author: Professor Krasso
; Modified by: Kevin Jones
; Date: 25 Aug 2021
; Description: Home component HTML file
;===========================================
 -->

<div fxLayout="column" class="main-welcome">
  <div fxFlex>
    <h1 class="title">
      nodebucket<br />
      <span class="subtitle">
        Keep track of your tasks in one centralized, user-friendly space. Add,
        delete, edit, and rearrange your tasks, all from one place.
      </span>
    </h1>
  </div>

  <div fxFlex>
    <div class="task-container" fxLayout="column">
      <button mat-flat-button color="primary" (click)="openCreateTaskDialog()">
        Create Task
      </button>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="15px" class="task-container">
      <!-- first column in row -->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title> ToDo </mat-card-title>

          <mat-card-content>
            <div
              fxLayout="column"
              fxLayoutGap="10px"
              class="task-column"
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              (cdkDropListDropped)="drop($event)"
            >
              <div *ngFor="let item of todo" cdkDrag>
                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        {{ item.text }}
                      </div>

                      <div fxFlex fxLayoutAlign="end">
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon color="accent">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- second column in row -->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title> Done </mat-card-title>

          <mat-card-content>
            <div
              fxLayout="column"
              fxLayoutGap="10px"
              class="task-column"
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              (cdkDropListDropped)="drop($event)"
            >
              <div *ngFor="let item of done" cdkDrag>
                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        {{ item.text }}
                      </div>

                      <div fxFlex fxLayoutAlign="end">
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon color="accent">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
